<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Risk Assessment </title>
    <link rel="stylesheet" type="text/css" href="{{style}}.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery-3.3.1.js"></script>
    <script src="{{script}}.js"></script>
    <script>
      if(!localStorage.noFirstVisit)
      {
        localStorage.noFirstVisit = "1";
        window.location.href = "/firstvisit.html";
      }
    </script>
  </head>
  {{{body}}}
</html>
