<body>
  <h2>
    Welcome to the Risk Assessment App
  </h2>
  <form method="post" action="/firstvisit.html">
    Username:<br>
    <input type="text" name="username"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
